/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}

ul{
    list-style:inside;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    color: #1484fd;
}

/* utility */
.text-center{
    text-align: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.jc-sb{
    justify-content: space-between;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}

.ai-fstart{
    align-items:flex-start ;
}

.bt-white{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 15px;
}

.bt-white:hover{
    background-color: rgba(255, 255, 255, 0.556);
}

.bt-blue{
    background-color: #1484fd;
    color: white;
    border-radius: 20px;
    padding: 10px 50px;
}

.bt-blue:hover{
    background-color: #1485fda9;

}

.bt-violet{
    background-color: #9792e4;
    color: black;
    border-radius: 50%;
    padding: 10px 15px;
}

.bt-violet:hover{
    background-color: #9792e491;
}

.bt-violet2{
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    padding: 10px 50px;
}

.bt-violet2:hover{
    background-color: #9792e491;
}